.main {
    width: 100%;
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.5em;
    min-height: 90vh;
}

.output-content-container {
    width: 100%;
    text-align: center;
    color: #FAF9F6;
    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-teams {
    list-style-type: none;
}

td,
th {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2em;
    padding-right: 2em;
    word-break: break-all;
    text-align: center;
    border-bottom: 1px solid #FAF9F6;
}

th {
    color: #0CC6FF;
}

tr:hover {
    background-color: #111;
    cursor: pointer;
}

thead tr:first-child:hover {
    background-color: black;
    cursor: auto;

}

.output-content-container h3 {
    text-align: center;
}

.points {
    word-break: normal;
}

.table-header th {
    padding-bottom: 0.5em;
}

.table-header th {
    word-break: normal;
}

.loading-header {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #0CC6FF;
    text-align: center;

}


.error-header {
    color: #FF304E;
}

.pagination {

    width: 100%;
    margin-top: 1em;
    /* background-color: red; */
    /* margin-top: 1em; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.pagination>ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    /* background-color: blue; */
    width: 100%;

}

.pagination li {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    padding: 2px 5px;
    border: 1px solid black;
}


.page-item {
    background-color: #000;

    /* border: 1px solid white; */

}

.page-link {
    background-color: black;
    color: white;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.page-link:hover {
    color: #0CC6FF;
    text-decoration: none;
}

.pagination>li.active>a {
    color: #fff;
    border: 1px solid #0CC6FF;
}

.pagination>li>a {
    min-width: 30px;
    width: fit-content;
    text-align: center;
}

.pagination>li:first-child,
.pagination>li:first-child>span {}

.page-button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #0CC6FF;
    color: #eee;
}

.page-button:hover {
    text-decoration: none;
    background-color: #0BB5EE;
}

.pagination>li>a:hover {

    color: white;
    cursor: pointer;
}

.pagination>li {

    display: flex;
    flex-direction: row;
    list-style: none;

}

li.page-item:first-child {
    margin-left: 10%;
}

li.page-item:last-child {
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    .pagination>li>a {
        min-width: 1px;

    }

    .page-link {

        margin-left: 0.1em;
        margin-right: 0.1em;
    }

    .page-button {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;

    }
}

@media screen and (max-width: 768px) {

    .main {

        font-size: 1.3em;
    }

    .table-header th:first-child {
        display: none;
    }

    .team-id {
        display: none;
    }

}