.main {
    background-color: black;
    color: #FAF9F6;
    font-family: 'Montserrat Alternates', 'Space Mono', 'Verdana';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-header {
    color: #FAF9F6;
    margin-top: 6rem;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Space Mono', 'Verdana', 'Montserrat Alternates';
    margin-bottom: 1em;
    text-align: center;
}

.internal-container {
    width: 50%;
}

.internal-header {
    font-family: 'Space Mono', 'Verdana', 'Montserrat Alternates';
    font-size: 1.3rem;
    margin-bottom: 1em;
    margin-top: 1em;
}

.date-wrapper {
    display: flex;
    justify-content: center;

}

.date-wrapper>div {
    width: 100%;
    cursor: pointer;
}

.date-time {
    outline: none;
}


.utc-date {
    margin-top: 1em;
}

.utc-date h2 {
    font-family: 'Space Mono', 'Montserrat Alternates', 'Verdana';
    font-size: 0.94rem;
    color: #0CC6FF;
}

.button-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1em;
}

.next-button {

    font-family: 'Space Mono', 'Verdana', 'Montserrat Alternates';
    font-weight: bolder;
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.7rem;
    color: #FAF9F6;
    background-color: #0CC6FF;
    margin-bottom: 2rem;
}

.next-button[disabled]:hover,
.next-button[disabled]:focus {
    color: #FAF9F6;
    background-color: #0CC6FF;

}

.next-button:hover,
.next-button:focus {
    color: #FAF9F6;
    background-color: #0aa4dd;
}

.error-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;

}

.date-error-h {
    color: #FF304E;
    font-family: 'Space Mono', 'Montserrat Alternates', 'Verdana';
    font-size: 1.2rem;
    text-align: center;
}



@media screen and (max-width: 1200px) {

    .internal-container {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {

    .internal-container {
        width: 85%;
        font-size: 1.3em;
    }

    .date-header {
        font-size: 1.9em;
        margin-bottom: 1.3rem;
        margin-top: 4rem;

    }

    .next-button {
        width: 100%;
        margin-top: 2rem;
    }
}