.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.output-content-container {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    color: #FAF9F6;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.output-content-container:hover {
    background-color: black;
    cursor: auto;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}