.navbar {
    width: 100%;
    display: flex;
    font-size: 1.2em;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #000;
}

.redText {
    color: #FF304E !important;
}

.navbar-brand {
    cursor: pointer;
}

.navbar div a {
    margin-left: 10px;
}

.nav-dropdown {
    margin: 0;
    padding: 0;
}

#nav-dropdown {
    color: #0CC6FF;
}


.nav-dropdown div {
    border: 1px solid #FAF9F6 !important;
    background-color: black !important;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    width: 100%;

}

.dropdown-item:last-child {
    margin-bottom: 8px;
}

.nav-dropdown .show {
    background-color: red !important;
}

.nav-dropdown div a {
    border-radius: 0px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.dropdown-item {
    background-color: black;
    color: rgba(255, 255, 255, .5) !important;
    font-size: 1.1em;
}

.dropdown-item:hover {
    color: #FAF9F6 !important;
    background-color: #222222 !important;
}

.dropdown-item:focus {
    color: #FAF9F6;
    background-color: #222222;
}

.dropdown-item:global(.active) {
    background-color: #222222 !important;
    color: #FAF9F6 !important;
}


.right-menu a {
    margin-right: 30px !important;
}

.left-menu a {
    margin-right: 30px !important;
}

.dropdown-item:focus a {}

.nav-drop-divider {}

.right-menu a {
    margin-right: 30px !important;
}


.navbar-brand {
    margin-right: 2em;
    font-family: 'Montserrat Alternates', 'Space Mono', 'Verdana';
}

.navbar-brand img {
    margin-right: 1em;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0CC6FF;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.9px;
    bottom: 0;
    left: 0;
    background-color: #0CC6FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 1.9px;
}

.active {
    display: inline-block;
    position: relative;
    color: #FAF9F6 !important;
}

.active:after {
    content: '';
    position: absolute;
    width: 100%;
    margin-bottom: 0.1px;
    height: 1.6px;
    bottom: 0;
    left: 0;
    background-color: #0CC6FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navlink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 8px;
    color: rgba(255, 255, 255, .5);
}

.navlink:hover {
    text-decoration: none;
    color: #FAF9F6;
}



@media screen and (max-width: 992px) {

    .nav {

        text-align: center;
    }

    .navbar div a {
        margin-left: 0px;
    }

    .dropdown-item {
        text-align: center;
    }

    .nav-dropdown {
        background-color: black;
    }

    .right-menu a {
        margin-right: 0px !important;
    }

    .left-menu a {
        margin-right: 0px !important;
    }
}